{
  "plugins": [
    "transform-es2015-destructuring",
    "transform-class-properties", ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-react-jsx", {
      "useBuiltIns": true
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "transform-react-jsx-source",
    "transform-react-jsx-self",
    "transform-regenerator",
    "syntax-dynamic-import"
  ],
  "presets": [
    ["env",
      {
        "targets": {
          "ie": 9,
          "uglify": true
        },
        "useBuiltIns": false,
        "modules": false
      }
    ],
    "react"
  ]
}