{
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    ["env",
      {
        "targets": {
          "ie": 9,
          "uglify": true
        },
        "useBuiltIns": false,
        "modules": false
      }
    ]
  ]
}