 {
   "root": true,
   "parser": "babel-eslint",
   "env": {
     "browser": true
   },
   "extends": "standard",
   "rules": {
     "arrow-parens": 0,
     "generator-star-spacing": 0,
     "no-return-assign": 0,
     "one-var": 0,
     "space-before-function-paren": 0
   }
 }